{% extends "user_base.html" %}
{% block content %}
<div class="container">
  <h1 style= "color:white; font-family:Georgia, serif; text-align:center; vertical-align:middle; padding: 50px 0;"">Token No: {{res2[1]}}</h1>
  <h1 style= "color:white; font-family:Georgia, serif;">Payment to be done: {{res2[0]}}</h1><br><br>
  <form action="/payment" method="POST">
    <input type="hidden" name="tno" value="{{res2[1]}}">
    <div class="form-group">
      <h3 style= "color:white; font-family:Georgia, serif;">Mode of Payment:</h3>
    </div>
    <select class="form-select" name="mop" id="mop" aria-label="Default select example" onchange="getMOP();">
      <option selected>--Select--</option>
      <option value="Cash">Cash</option>
      <option value="Google Pay">Google Pay</option>
    </select>
    <button type="submit" class="btn btn-primary">Pay</button>
  </form>
  <div id="qr"></div>
</div>
<script>
  function getMOP() {
    var a = document.getElementById("mop");
    var d = a.value;
    if(d=="Google Pay"){
      var img = document.createElement('img');
      img.src = "{{url_for('static', filename='gpay.jpg')}}";
      img.height=225;
      document.getElementById('qr').appendChild(img);
    }
  }
</script>
<body style="background-image:url('https://img.freepik.com/free-photo/food-frame-with-copy-space-flat-lay_23-2148723504.jpg?w=1060&t=st=1664221770~exp=1664222370~hmac=dd05a26d34d6b31f90240ad831b788d4de5cd3bdc5573e28a79899ea716f4109'); 
background-repeat:no-repeat;background-size: 100%"></body>
{% endblock %}